main#home
  h1.lg-heading Max
    span.text-secondary Kultyshev
  h2.sm-heading Web Developer, Programmer, Junkie
  .icons
    a(href="#")
      i(class="fab fa-twitter fa-2x")
    a(href="#")
      i(class="fab fa-facebook fa-2x")
    a(href="#")
      i(class="fab fa-linkedin fa-2x")
    a(href="#")
      i(class="fab fa-github fa-2x")