header
  .menu-btn
    - for (var x = 0; x < 3; x++)
      .btn-line  

  nav.menu
    .menu-branding
      .portrait   
    ul.menu-nav
      li.nav-item  
        a.nav-link(href="home.html") Home
      li.nav-item  
        a.nav-link(href="about.html") About me  
      li.nav-item.current   
        a.nav-link(href="work.html") My work
      li.nav-item   
        a.nav-link(href="contact.html") How to reach me  