main#work
  h1.lg-heading
    span.text-primary My
    span.text-secondary Work
  h2.sm-heading Check out some of my projects...
  .projects

    .item
      a(href="#1")
        img(src="../images/projects/1.jpg", alt="Project")   
      a.btn-light(href="#!")
        i.fas.fa-eye Project
      a.btn-dark(href="#!")
        i.fab.fa-github Github
    
    .item
      a(href="#1")
        img(src="../images/projects/2.jpg", alt="Project")   
      a.btn-light(href="#!")
        i.fas.fa-eye Project
      a.btn-dark(href="#!")
        i.fab.fa-github Github

    .item
      a(href="#1")
        img(src="../images/projects/3.jpg", alt="Project")   
      a.btn-light(href="#!")
        i.fas.fa-eye Project
      a.btn-dark(href="#!")
        i.fab.fa-github Github

    .item
      a(href="#1")
        img(src="../images/projects/4.jpg", alt="Project")   
      a.btn-light(href="#!")
        i.fas.fa-eye Project
      a.btn-dark(href="#!")
        i.fab.fa-github Github

    .item
      a(href="#1")
        img(src="../images/projects/6.jpg", alt="Project")   
      a.btn-light(href="#!")
        i.fas.fa-eye Project
      a.btn-dark(href="#!")
        i.fab.fa-github Github