doctype html
html(lang="en")
  include includes/about/head.pug
  body
    
    include includes/about/header.pug
    include includes/about/main.pug
    include includes/about/footer.pug
    include includes/about/js.pug