doctype html
html(lang="en")
  include includes/contact/head.pug
  body
    
    include includes/contact/header.pug
    include includes/contact/main.pug
    include includes/contact/footer.pug
    include includes/contact/js.pug