doctype html
html(lang="en")
  include includes/work/head.pug
  body
    
    include includes/work/header.pug
    include includes/work/main.pug
    include includes/work/footer.pug
    include includes/work/js.pug