main#contact
  h1.lg-heading
    span.text-primary Contact
    span.text-secondary Me
  h2.sm-heading This is how you can reach me...
  .boxes
    div.borders
      span.text-secondary Email: 
      span.text-primary mksbnt@tuta.io
    div.borders
      span.text-secondary Phone:
      span.text-primary (063) 555-5555
    div.borders
      span.text-secondary Address: 
      span.text-primary 50 Main st Boston MA 35473