main#about
  h1.lg-heading
    span.text-primary About
    span.text-secondary Me
  h2.sm-heading Let me tell you a few things...
  .about-info
    img.bio-image(src="../images/portrait.jpg", alt="My photo")
    .bio
      h3.text-secondary BIO
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum accusamus culpa reprehenderit saepe? Assumenda aspernatur quis, dicta corporis voluptas sequi libero ex qui amet cumque cupiditate? Aliquam nesciunt repudiandae atque.
    .job.job-1
      h3 123 Webshop
      h6 Full Stack Developer
      p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non eveniet veritatis suscipit eligendi beatae tempore vel ut omnis fugiat nobis!
    .job.job-2
      h3 Designers ABC
      h6 Front End Developer
      p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non eveniet veritatis suscipit eligendi beatae tempore vel ut omnis fugiat nobis!
    .job.job-3
      h3 Designers X
      h6 HTML Coder
      p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non eveniet veritatis suscipit eligendi beatae tempore vel ut omnis fugiat nobis!
        