main#about
  h1.lg-heading
    span.text-primary About
    span.text-secondary Me
  h2.sm-heading Let me tell you a few things...
  .about-info
    img.bio-image(src="../images/portrait.jpg", alt="My photo")
    .bio
      h3.text-secondary Just thoughts
      p Did you ever notice the similarities between poetry and code? Look, verse is a line of poetic text organized according to a certain rhythmic pattern and the code is a string of a computer program in any programming language organized according to certain syntactic rules. Is it a coincidence? I do not think so.
    .job.job-1
      h3 123 Webshop
      h6 Full Stack Developer
      p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non eveniet veritatis suscipit eligendi beatae tempore vel ut omnis fugiat nobis!
    .job.job-2
      h3 Webshop ABC
      h6 Front End Developer
      p JavaScript, Bootstrap 4, Gulp, Git, Pug, Sass, Bash, TypeScript, Angular, Vue...
    .job.job-3
      h3 Designers X
      h6 HTML Coder
      p First of all, I made friends with HyperText Markup Language and the Cascading Style Sheet after with the fifth and third versions, respectively. Then I just could not stop...
        